dist
build

node_modules

yarn.lock

*.log
*.cache
.vite
vite.config.ts

.env
.env.*
coverage

tsconfig.app.json
tsconfig.json
tsconfig.node.json

README.md
README-install.md
.gitgnore

eslint.config.js